body {
  font-family: "League Spartan", sans-serif;
  background-color: hsl(180, 52%, 96%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-image {
  width: 100%;
  margin-bottom: 20px;
}

.header-image img {
  width: 100%;
  height: auto;
}

.filter-container {
  background-color: hsl(180, 31%, 95%);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  margin: -20px 20px 20px 20px;
  flex-wrap: wrap;
  width: 75%;
  max-width: 1440px;
  justify-content: center;
}

.filter-item,
.clear {
  background-color: hsl(180, 29%, 50%);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-item .remove {
  margin-left: 5px;
  cursor: pointer;
}

.clear {
  background-color: hsl(180, 14%, 20%);
}

.job-listing {
  width: calc(100% - 40px);
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-card {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 128, 0, 0.4);
}

.job-card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.company-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.company-name {
  font-weight: 700;
  color: hsl(180, 14%, 20%);
}

.new-featured {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 5px;
}

.new,
.featured {
  background-color: hsl(180, 29%, 50%);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
}

.job-title {
  font-size: 18px;
  margin: 10px 0;
  color: hsl(180, 14%, 20%);
}

.job-details {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  color: hsl(180, 8%, 52%);
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.job-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 14%, 20%);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tag:hover {
  background-color: hsl(180, 29%, 50%);
  color: white;
}
